language = "java11"
# run = "java cmis141/Week4/MillerRaymone_Asgn4/src/main/java/com/miller/millerraymone_asgn4/MillerRaymone_Asgn4.java"
run = "java cmis141/Week7/MillerRaymone_Week7Disc.java"
# run = "java main.java"